@page
@model Lab_12.Pages.IndexModel

<div align="left">
    <h1>WELCOME</h1><br>
    <img src="src/crucial.gif" alt="Absolutely necessary" /><br>
    <form action="Cities" method="get">
            <button>BEGIN JOURNEY</button>
    </form>
</div>